<ng-template #content let-modal>
  
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">ERROR!!!</h5>
    <button type="button" class="close" aria-label="Close" (click)="modalRef.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h5> The Patient is already admitted.</h5>
    <h5> Please Discharge this patient first.</h5>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modalRef.close('Save click')">Close</button>
  </div>
</ng-template>

<div class="container-fluid">
  <ngx-spinner type="ball-scale-multiple"></ngx-spinner>
  
  <form>
    <ngb-alert *ngIf="!closed" [type]="alert.type" (close)="closeAlert(alert)">{{ alert.message }}</ngb-alert>
    <br>
    <div class="form-row">
      <!--Search Field-->
      <div class="form-group input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon3">Search</span>
        </div>
        <input type="text" class="form-control" [(ngModel)]="selectedPatient" [ngbTypeahead]="search" name="searchPatient"
               [resultFormatter]="patientResultFormatter" [inputFormatter]="patientInputFormatter" (selectItem)="selectedItem($event)">
      </div>
    </div>
    <div class="form-row">
      <label>Patient Name:</label>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <input type="text" class="form-control" placeholder="First name" [(ngModel)]="displayPatient.FirstName" required name="FirstName">
      </div>
      <div class="form-group col-md-4">
        <input type="text" class="form-control" placeholder="Middle name" [(ngModel)]="displayPatient.MiddleName" name="MiddleName">
      </div>
      <div class="form-group col-md-4">
        <input type="text" class="form-control" placeholder="Last name" [(ngModel)]="displayPatient.LastName" name="LastName">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-2">
        <label for="patientAge">Age</label>
        <input type="number" id="patientAge" class="form-control" placeholder="Age" [(ngModel)]="displayPatient.Age" name="Age">
      </div>
      <div class="form-group col-md-3">
        <label for="patientAge">Phone number</label>
        <input type="tel" class="form-control" placeholder="Phone number" [(ngModel)]="displayPatient.PhoneNumber" name="PhoneNumber">
      </div>

      <!--Drop Down for date of admissions-->
      <div class="form-group col-md-3">
        <div ngbDropdown class="d-inline-block">
          <label for="dropdownBasic1">Date Of Admission</label>
          <button type="button" class="btn btn-primary" dis>{{latestAdmissinDate}}</button>
          <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
            <button class="btn btn-primary dropdown-toggle-split" ngbDropdownToggle></button>
            <div class="dropdown-menu" ngbDropdownMenu>
              <button class="dropdown-item" *ngFor="let doa of displayPatient.DatesOfAdmission" (click)="dateOfAdmissionSelected(doa)">{{doa | date:"dd/MM/yyyy hh:mm a" }}</button>
            </div>
          </div>
        </div>
      </div>

      <!--Drop Down for date of discharge-->
      <div class="form-group col-md-3">
        <div ngbDropdown class="d-inline-block">
          <label for="dropdownBasic2">Date Of Discharge</label>
          <button type="button" class="btn btn-primary" dis>{{latestDischargeDate}}</button>
          <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
            <button class="btn btn-primary dropdown-toggle-split" ngbDropdownToggle></button>
            <div class="dropdown-menu" ngbDropdownMenu>
              <button class="dropdown-item" *ngFor="let doa of displayPatient.DatesOfDischarge" (click)="dateOfDischargeSelected(doa)">{{doa | date:"dd/MM/yyyy hh:mm a" }}</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label> Gender </label>
      <div class="input-group">
        <div class="form-row">

          <div class="form-check">

            <input class="form-check-input" type="radio" name="maleRadio" id="Male" value="Male"
                   [(ngModel)]="displayPatient.Gender" [checked]="male">
            <label class="form-check-label" for="Male">Male</label>
          </div>

          <div class="form-check tab">

            <input class="form-check-input" type="radio" name="femaleRadio" id="Female" value="Female"
                   [(ngModel)]="displayPatient.Gender" [checked]="female">
            <label class="form-check-label" for="Female">Female</label>

          </div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Address</span>
        </div>
        <textarea class="form-control" col="90" row="2" [(ngModel)]="displayPatient.Address" name="Address"></textarea>
      </div>
    </div>
    <hr>
    <div class="form-row">
      <h5>Medical Information</h5>
    </div>
    <div class="form-row">
      <div class="form-group input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">History Of </span>
        </div>
        <textarea class="form-control" col="90" rows="2" [(ngModel)]="displayPatient.HistoryOf" name="HistoryOf"></textarea>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Diagnosis</span>
        </div>
        <textarea class="form-control" col="90" rows="4" *ngIf="displayPatient.Diagnosis.length == 0" name="AdmitedFor"></textarea>
        <textarea class="form-control" col="90" rows="4" *ngIf="displayPatient.Diagnosis.length != 0"
                  [(ngModel)]="diagnosis" name="AdmitedFor"></textarea>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Treatment</span>
        </div>
        <textarea class="form-control" col="90" rows="8" *ngIf="displayPatient.Treatment.length == 0" name="AdmitedFor"></textarea>
        <textarea class="form-control" col="90" rows="8" *ngIf="displayPatient.Treatment.length !=0"
                  [(ngModel)]="treatement" name="Treatment"></textarea>
      </div>
    </div>
    <div class="form-row">

      <div class="form-group col-md-4">
        <button type="button" class="form-control btn btn-primary" (click)="admitPatientToDB(content)">ADMIT PATIENT</button>
      </div>

      <div class="form-group col-md-4">
        <input type="submit" class="form-control btn btn-primary" (click)="updatePatientToDB()" name="name" value="UPDATE PATIENT" />

      </div>

    </div>
  </form>
</div>
