
angular-electron-client/.vs/angular-electron-client/v15/.suo
angular-electron-client/.vs/config/applicationhost.config
angular-electron-client/.vs/ProjectSettings.json
angular-electron-client/.vs/slnx.sqlite
angular-electron-client/.vs/VSWorkspaceState.json
server/.vs/server1/v15/.suo
server/server.njsproj
server/server1.njsproj
server/server1.sln
