<div class="container-fluid">
  <div class="row">
    <div class="col-6">

      <ngb-tabset>
        <ngb-tab title="Add Patient">
          <ng-template ngbTabContent>
            <br>
            <app-patients></app-patients>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle> View Patient</ng-template>
          <ng-template ngbTabContent>
            <app-view-patient></app-view-patient>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="View All Patients">
            <ng-template ngbTabContent>
              <app-view-all-patients></app-view-all-patients>
            </ng-template>
          </ngb-tab>
      </ngb-tabset>

    </div>
    <div class="col-6">
      <h5>Admitted patients:</h5>
      <br>
      <app-admitted-patients></app-admitted-patients>
    </div>
  </div>
</div>
