<div class="container-fluid">
  <br/>
  <h4>This is a List Of All Patients</h4>
  <br/>
  <ngb-accordion *ngFor="let patient of AllPatients; let i = index" #acc="ngbAccordion" activeIds="ngb-panel-0">
      <ngb-panel title="#{{ i+1 }} : {{ patient.FirstName }} {{ patient.MiddleName }} {{ patient.LastName }}">
        <ng-template ngbPanelContent>
          <div class="row">
            <div class="col">
              <strong>Name :</strong> {{ patient.FirstName }} {{ patient.MiddleName }} {{ patient.LastName }}
            </div>
          </div>
          <div class="row">
            <div class="col">
              <strong>Address :</strong> {{patient.Address}}
            </div>
          </div>
          <div class="row">
            <div class="col"><strong>Number :</strong> {{patient.PhoneNumber}}</div>
            <div class="col"><strong>Age :</strong> {{patient.Age}}</div>
            <div class="col"><strong>Gender :</strong> {{patient.Gender}}</div>
          </div>
          <div class="row">
            <div class="col">
              <strong>Last Date Of Admission :</strong> {{patient.DatesOfAdmission[patient.DatesOfAdmission.length -1] | date:"dd/MM/yyyy" }}
            </div>
          </div>
          <div class="row">
            <div class="col">
              <strong>Last Date Of Discharge :</strong> {{patient.DatesOfDischarge[patient.DatesOfDischarge.length -1] | date:"dd/MM/yyyy" }}
            </div>
          </div>
          <div class="row">
            <div class="col">
              <strong>Last Diagnosis :</strong> {{ patient.Diagnosis[patient.Diagnosis.length -1].AdmittedFor }}
            </div>
          </div>
          <div class="row">
            <div class="col">
              <strong>Last Treatment :</strong> {{ patient.Treatment[patient.Treatment.length -1].TreatmentGiven }}
            </div>
          </div>
          
        </ng-template>
      </ngb-panel>
  </ngb-accordion>
</div>
  

  
