<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button type="button" class="close" aria-label="Close" (click)="modalRef.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <div ngbDropdown class="d-inline-block">
		  <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{dischargeSelection}}</button>
		  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
			<button class="dropdown-item" *ngFor="let option of optionsToDischarge;" (click)="selectionChanged(option)" >{{option}}</button>
		  </div>
		</div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modalRef.close('Save click')">Save</button>
  </div>
</ng-template>

<ng-template #content_bill let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
      <button type="button" class="close" aria-label="Close" (click)="modalRef.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <h1>This is modal</h1>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modalRef.close('Save click')">Save</button>
    </div>
  </ng-template>

<ngb-alert *ngIf="!closed" [type]="alert.type" (close)="closeAlert(alert)">{{ alert.message }}</ngb-alert>

<table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Date Of Admission</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let patient of admittedPatients; let i = index">
        <th scope="row">{{i+1}}</th>
        <td> {{ patient.FirstName }} </td>
        <td> {{ patient.LastName }} </td>
        <td> {{ patient.DatesOfAdmission[patient.DatesOfAdmission.length-1] | date:"dd/MM/yyyy hh:mm a" }} </td>
        <td>
            <button type="button" class="btn btn-light btn-sm" (click)="showOptions(content,patient)">Discharge</button>
        </td>
        <td>
            <button type="button" class="btn btn-light btn-sm" (click)="ShowBill(patient)">Generate Bill</button>
        </td>
      </tr>
    </tbody>
  </table>
