
<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">{{title}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th scope="col">Particulars</th>
          <th scope="col">Total Amount</th>
        </tr>
      </thead>

      <tbody>
        <!-- AdmissionFee  -->
        <tr>
          <td>
            <div class="row">
              <div class="col-md-3">
                <label for="AdmissionFeeInp">Admission Fee:</label>
              </div>
              <div class="col-md-4">
                <input type="number" placeholder="Amount" (focusout)="calculateBillTotal()" [(ngModel)]="billForPatient.AdmissionFee" class="form-control" name="AdmissionFeeInp" id="AdmissionFeeInp">
              </div>
            </div>
          </td>
          <td><label>{{billForPatient.AdmissionFee}}</label></td>
          
        </tr>

        <!-- Charges for bed, Doctor and Nursing General Ward-->
        <tr>
          <td>
            <div class="row">
              <div class="col-md-3">
                <label for="AdmissionFeeInp">General Ward Details:</label>
              </div>
              <div class="col-md-8">
                <div class="row"><br></div>

                <!-- Doctor Charges -->
                <div class="row">
                  <div class="col-sm-5">
                    <label for="DoctorChargesGeneralInp">Doctor Charges:</label>
                  </div>
                  <div class="col-md-4">
                    <input type="number" placeholder="Amount" (focusout)="calculateTotalGeneral()" [(ngModel)]="billForPatient.DoctorCharges.GeneralWard.Amount" class="form-control" name="DoctorChargesGeneral" id="DoctorChargesGeneralInp">
                  </div>
                  <div class="col-md-3">
                    <input type="number" placeholder="Days" (focusout)="calculateTotalGeneral()" [(ngModel)]="billForPatient.DoctorCharges.GeneralWard.Multiplier" class="form-control" name="DoctorNumDaysGeneral" id="DoctorNumDaysGeneralInp">
                  </div>
                </div>
                <br>
                <!-- Bed Charges -->
                <div class="row">
                  <div class="col-sm-5">
                    <label for="BedChargesICUInp">Bed Charges:</label>
                  </div>
                  <div class="col-md-4">
                    <input type="number" placeholder="Amount" (focusout)="calculateTotalGeneral()" [(ngModel)]="billForPatient.BedCharges.GeneralWard.Amount" class="form-control" name="BedChargesGeneral" id="BedChargesGeneralInp">
                  </div>
                  <div class="col-md-3">
                    <input type="number" placeholder="Days" (focusout)="calculateTotalGeneral()" [(ngModel)]="billForPatient.BedCharges.GeneralWard.Multiplier" class="form-control" name="BedNumDaysGeneral" id="BedNumDaysGeneralInp">
                  </div>
                </div>
                <br>
                <!-- Nursing Charge -->
                <div class="row">
                  <div class="col-sm-5">
                    <label for="NursingChargesICUInp">Nursing Charges:</label>
                  </div>
                  <div class="col-md-4">
                    <input type="number" placeholder="Amount" (focusout)="calculateTotalGeneral()" [(ngModel)]="billForPatient.NursingCharges.GeneralWard.Amount" class="form-control" name="NursingChargesGeneral" id="NursingChargesICUInp">
                  </div>
                  <div class="col-md-3">
                    <input type="number" placeholder="Days" (focusout)="calculateTotalGeneral()" [(ngModel)]="billForPatient.NursingCharges.GeneralWard.Multiplier" class="form-control" name="NursingNumDaysGeneral" id="NursingNumDaysGeneralInp">
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-sm-5">
                    <label><strong>Total:</strong></label>
                  </div>
                </div>

              </div>
            </div>
          </td>

          <td>
            <div class="row">
              <div class="col">
                <div class="row">
                  <div class="col">
                    <br>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <input type="text" readonly class="form-control-plaintext"  [value]="billForPatient.DoctorCharges.GeneralWard.Amount * billForPatient.DoctorCharges.GeneralWard.Multiplier">
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col">
                      <input type="text" readonly class="form-control-plaintext" [value]="billForPatient.BedCharges.GeneralWard.Amount * billForPatient.BedCharges.GeneralWard.Multiplier">
                  </div>
                </div>
                
                <br>
                <div class="row">
                  <div class="col">
                      <input type="text" readonly class="form-control-plaintext"  [value]="billForPatient.NursingCharges.GeneralWard.Amount * billForPatient.NursingCharges.GeneralWard.Multiplier">
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col">
                    <label ><strong>{{totalGeneralWard}}</strong></label>
                  </div>
                </div>

              </div>
              
            </div>
            
          </td>


        </tr>

        <!-- Charges for bed, Doctor and Nursing ICU-->
        <tr>
          <td>
            <div class="row">
              <div class="col-md-3">
                <label for="AdmissionFeeInp">ICU Details:</label>
              </div>
              <div class="col-md-8">
                <div class="row"><br></div>

                <!-- Doctor Charges -->
                <div class="row">
                  <div class="col-sm-5">
                    <label for="DoctorChargesICUInp">Doctor Charges:</label>
                  </div>
                  <div class="col-md-4">
                    <input type="number" placeholder="Amount" (focusout)="calculateTotalICU()" [(ngModel)]="billForPatient.DoctorCharges.ICU.Amount" class="form-control" name="DoctorChargesICU" id="DoctorChargesICUInp">
                  </div>
                  <div class="col-md-3">
                    <input type="number" placeholder="Days" (focusout)="calculateTotalICU()" [(ngModel)]="billForPatient.DoctorCharges.ICU.Multiplier" class="form-control" name="DoctorNumDaysICU" id="DoctorNumDaysICUInp">
                  </div>
                </div>
                <br>
                <!-- Bed Charges -->
                <div class="row">
                  <div class="col-sm-5">
                    <label for="BedChargesICUInp">Bed Charges:</label>
                  </div>
                  <div class="col-md-4">
                    <input type="number" placeholder="Amount" (focusout)="calculateTotalICU()" [(ngModel)]="billForPatient.BedCharges.ICU.Amount" class="form-control" name="BedChargesICU" id="BedChargesICUInp">
                  </div>
                  <div class="col-md-3">
                    <input type="number" placeholder="Days" (focusout)="calculateTotalICU()" [(ngModel)]="billForPatient.BedCharges.ICU.Multiplier" class="form-control" name="BedNumDaysICU" id="BedNumDaysICUInp">
                  </div>
                </div>
                <br>
                <!-- Nursing Charge -->
                <div class="row">
                  <div class="col-sm-5">
                    <label for="NursingChargesICUInp">Nursing Charges:</label>
                  </div>
                  <div class="col-md-4">
                    <input type="number" placeholder="Amount" (focusout)="calculateTotalICU()" [(ngModel)]="billForPatient.NursingCharges.ICU.Amount" class="form-control" name="NursingChargesICU" id="NursingChargesICUInp">
                  </div>
                  <div class="col-md-3">
                    <input type="number" placeholder="Days" (focusout)="calculateTotalICU()" [(ngModel)]="billForPatient.NursingCharges.ICU.Multiplier" class="form-control" name="NursingNumDaysICU" id="NursingNumDaysICUInp">
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-sm-5">
                    <label><strong>Total:</strong></label>
                  </div>
                </div>

              </div>
            </div>
          </td>
          <td>
            <div class="row">
              <div class="col">
                <div class="row">
                  <div class="col">
                    <br>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <input type="text" readonly class="form-control-plaintext"  [value]="billForPatient.DoctorCharges.ICU.Amount * billForPatient.DoctorCharges.ICU.Multiplier">
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col">
                      <input type="text" readonly class="form-control-plaintext"  [value]="billForPatient.BedCharges.ICU.Amount * billForPatient.BedCharges.ICU.Multiplier">
                  </div>
                </div>
                
                <br>
                <div class="row">
                  <div class="col">
                      <input type="text" readonly class="form-control-plaintext"  [value]="billForPatient.NursingCharges.ICU.Amount * billForPatient.NursingCharges.ICU.Multiplier">
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col">
                    <label ><strong>{{totalICU}}</strong></label>
                  </div>
                </div>

              </div>
              
            </div>
            
          </td>
        </tr>

        <!-- Charges for bed, Doctor and Nursing Special Room -->
        <tr>
          <td>
            <div class="row">
              <div class="col-md-3">
                <label for="AdmissionFeeInp">Special Room Details:</label>
              </div>
              <div class="col-md-8">
                <div class="row"><br></div>

                <!-- Doctor Charges -->
                <div class="row">
                  <div class="col-sm-5">
                    <label for="DoctorChargesInp">Doctor Charges:</label>
                  </div>
                  
                  <div class="col-md-4">
                    <input type="number" placeholder="Amount" (focusout)="calculateTotalSpecial()"  [(ngModel)]="billForPatient.DoctorCharges.SpecialRoom.Amount" class="form-control" name="DoctorCharges" id="DoctorChargesInp">
                  </div>
                  <div class="col-md-3">
                    <input type="number" placeholder="Days" (focusout)="calculateTotalSpecial()"  [(ngModel)]="billForPatient.DoctorCharges.SpecialRoom.Multiplier" class="form-control" name="DoctorNumDays" id="DoctorNumDaysInp">
                  </div>
                </div>
                <br>
                <!-- Bed Charges -->
                <div class="row">
                  <div class="col-sm-5">
                    <label for="BedChargesICUInp">Bed Charges:</label>
                  </div>
                  <div class="col-md-4">
                    <input type="number" placeholder="Amount" (focusout)="calculateTotalSpecial()"  [(ngModel)]="billForPatient.BedCharges.SpecialRoom.Amount" class="form-control" name="BedCharges" id="BedChargesInp">
                  </div>
                  <div class="col-md-3">
                    <input type="number" placeholder="Days" (focusout)="calculateTotalSpecial()"  [(ngModel)]="billForPatient.BedCharges.SpecialRoom.Multiplier" class="form-control" name="BedNumDays" id="BedNumDaysInp">
                  </div>
                </div>
                <br>
                <!-- Nursing Charge -->
                <div class="row">
                  <div class="col-sm-5">
                    <label for="NursingChargesInp">Nursing Charges:</label>
                  </div>
                  <div class="col-md-4">
                    <input type="number" placeholder="Amount" (focusout)="calculateTotalSpecial()" [(ngModel)]="billForPatient.NursingCharges.SpecialRoom.Amount" class="form-control" name="NursingCharges" id="NursingChargesInp">
                  </div>
                  <div class="col-md-3">
                    <input type="number" placeholder="Days" (focusout)="calculateTotalSpecial()" [(ngModel)]="billForPatient.NursingCharges.SpecialRoom.Multiplier" class="form-control" name="NursingNumDays" id="NursingNumDaysInp">
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-sm-5">
                    <label><strong>Total:</strong></label>
                  </div>
                </div>

              </div>
            </div>
          </td>

          <td>
            <div class="row">
              <div class="col">
                <div class="row">
                  <div class="col">
                    <br>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <input type="text" readonly class="form-control-plaintext" [value]="billForPatient.DoctorCharges.SpecialRoom.Amount * billForPatient.DoctorCharges.SpecialRoom.Multiplier">
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col">
                      <input type="text" readonly class="form-control-plaintext" [value]="billForPatient.BedCharges.SpecialRoom.Amount * billForPatient.BedCharges.SpecialRoom.Multiplier">
                  </div>
                </div>
                
                <br>
                <div class="row">
                  <div class="col">
                      <input type="text" readonly class="form-control-plaintext"  [value]="billForPatient.NursingCharges.SpecialRoom.Amount * billForPatient.NursingCharges.SpecialRoom.Multiplier">
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col">
                    <label ><strong>{{totalSpecial}}</strong></label>
                  </div>
                </div>

              </div>
              
            </div>
            
          </td>

        </tr>

        <!-- Charges for bed, Doctor and Nursing Casualty -->
        <tr>
          <td>
            <div class="row">
              <div class="col-md-3">
                <label for="AdmissionFeeInp">Casualty Details:</label>
              </div>
              <div class="col-md-8">
                <div class="row"><br></div>

                <!-- Doctor Charges -->
                <div class="row">
                  <div class="col-sm-5">
                    <label for="DoctorChargesInp">Doctor Charges:</label>
                  </div>
                  <div class="col-md-4">
                    <input type="number" placeholder="Amount" (focusout)="calculateTotalCasulaty()" [ngModel]="billForPatient.DoctorCharges.Casualty.Amount" class="form-control" name="DoctorCharges" id="DoctorChargesInp">
                  </div>
                  <div class="col-md-3">
                    <input type="number" placeholder="Days" (focusout)="calculateTotalCasulaty()" [(ngModel)]="billForPatient.DoctorCharges.Casualty.Multiplier" class="form-control" name="DoctorNumDays" id="DoctorNumDaysInp">
                  </div>
                </div>
                <br>
                <!-- Bed Charges -->
                <div class="row">
                  <div class="col-sm-5">
                    <label for="BedChargesICUInp">Bed Charges:</label>
                  </div>
                  <div class="col-md-4">
                    <input type="number"  class="form-control" (focusout)="calculateTotalCasulaty()" [(ngModel)]="billForPatient.BedCharges.Casualty.Amount" name="BedCharges" id="BedChargesInp">
                  </div>
                  <div class="col-md-3">
                    <input type="number" class="form-control" (focusout)="calculateTotalCasulaty()" [(ngModel)]="billForPatient.BedCharges.Casualty.Multiplier" name="BedNumDays" id="BedNumDaysInp">
                  </div>
                </div>
                <br>
                <!-- Nursing Charge -->
                <div class="row">
                  <div class="col-sm-5">
                    <label for="NursingChargesInp">Nursing Charges:</label>
                  </div>
                  <div class="col-md-4">
                    <input type="number" placeholder="Amount" (focusout)="calculateTotalCasulaty()" [(ngModel)]="billForPatient.NursingCharges.Casualty.Amount" class="form-control" name="NursingCharges" id="NursingChargesInp">
                  </div>
                  <div class="col-md-3">
                    <input type="number" placeholder="Days" (focusout)="calculateTotalCasulaty()" [(ngModel)]="billForPatient.NursingCharges.Casualty.Multiplier" class="form-control" name="NursingNumDays" id="NursingNumDaysInp">
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-sm-5">
                    <label><strong>Total:</strong></label>
                  </div>
                </div>

              </div>
            </div>
          </td>

          <td>
            <div class="row">
              <div class="col">
                <div class="row">
                  <div class="col">
                    <br>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <input type="text" readonly class="form-control-plaintext" [value]="billForPatient.DoctorCharges.Casualty.Amount * billForPatient.DoctorCharges.Casualty.Multiplier">
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col">
                      <input type="text" readonly class="form-control-plaintext" [value]="billForPatient.BedCharges.Casualty.Amount * billForPatient.BedCharges.Casualty.Multiplier">
                  </div>
                </div>
                
                <br>
                <div class="row">
                  <div class="col">
                      <input type="text" readonly class="form-control-plaintext" [value]="billForPatient.NursingCharges.Casualty.Amount * billForPatient.NursingCharges.Casualty.Multiplier">
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col">
                    <label ><strong>{{ totalCasualty }}</strong></label>
                  </div>
                </div>

              </div>
              
            </div>
            
          </td>

        </tr>

        <!-- Charges For Procedure -->
        <tr>
          <td>
            <div class="row">
              <div class="col-md-3">
                <label for="AdmissionFeeInp">Procedure charges:</label>
              </div>
              <div class="col-md-8">
                <div class="row"><br></div>

                <!-- Cathetor Charges -->
                <div class="row">
                  <div class="col-sm-5">
                    <label for="CathetorChargesInp">Cathetor Charges:</label>
                  </div>
                  <div class="col-md-4">
                    <input type="number" placeholder="Amount" (focusout)="calculateTotalProcedure()" [(ngModel)]="billForPatient.ProcedureCharges.CathetorCharges.Amount" class="form-control" name="CathetorCharges" id="CathetorChargesInp">
                  </div>
                  <div class="col-md-3">
                    <input type="number" placeholder="Days" (focusout)="calculateTotalProcedure()" [(ngModel)]="billForPatient.ProcedureCharges.CathetorCharges.Multiplier" class="form-control" name="CathetorChargesNum" id="CathetorChargesNumInp">
                  </div>
                </div>
                <br>

                <!-- Syringe Pump Charges-->
                <div class="row">
                  <div class="col-sm-5">
                    <label for="SyringePumpChargesInp">Syringe Pump Charges:</label>
                  </div>
                  <div class="col-md-4">
                    <input type="number" placeholder="Amount" (focusout)="calculateTotalProcedure()" [(ngModel)]="billForPatient.ProcedureCharges.SyringePump.Amount" class="form-control" name="SyringePumpCharges" id="SyringePumpChargesInp">
                  </div>
                  <div class="col-md-3">
                    <input type="number" placeholder="Days" (focusout)="calculateTotalProcedure()" [(ngModel)]="billForPatient.ProcedureCharges.SyringePump.Multiplier" class="form-control" name="SyringePumpChargesNum" id="SyringePumpChargesNumInp">
                  </div>
                </div>
                <br>

                <!-- Central Line Charges -->
                <div class="row">
                  <div class="col-sm-5">
                    <label for="CentralLineChargesInp">Central Line Charges:</label>
                  </div>
                  <div class="col-md-4">
                    <input type="number" placeholder="Amount" (focusout)="calculateTotalProcedure()" [(ngModel)]="billForPatient.ProcedureCharges.CentralLine.Amount" class="form-control" name="CentralLineCharges" id="CentralLineChargesInp">
                  </div>
                </div>
                <br>

                <!-- RT Procedure Charges  -->
                <div class="row">
                  <div class="col-sm-5">
                    <label for="RTProcedureChargesInp">RT Procedure Charges:</label>
                  </div>
                  <div class="col-md-4">
                    <input type="number" placeholder="Amount" (focusout)="calculateTotalProcedure()" [(ngModel)]="billForPatient.ProcedureCharges.RTProcedure.Amount" class="form-control" name="RTProcedureCharges" id="RTProcedureChargesInp">
                  </div>
                </div>
                <br>

                 <!-- Dreesing Charges -->
                <div class="row">
                  <div class="col-sm-5">
                    <label for="DreesingChargesInp">Dreesing Charges:</label>
                  </div>
                  <div class="col-md-4">
                    <input type="number" placeholder="Amount" (focusout)="calculateTotalProcedure()" [(ngModel)]="billForPatient.ProcedureCharges.Dressing.Amount" class="form-control" name="DreesingCharges" id="DreesingChargesInp">
                  </div>
                  <div class="col-md-3">
                    <input type="number" placeholder="Days" (focusout)="calculateTotalProcedure()" [(ngModel)]="billForPatient.ProcedureCharges.Dressing.Multiplier" class="form-control" name="DreesingChargesNum" id="DreesingChargesNumInp">
                  </div>
                </div>
                <br>

                <div class="row">
                  <div class="col-sm-5">
                    <label><strong>Total:</strong></label>
                  </div>
                </div>

              </div>
            </div>
          </td>

          <td>
            <div class="row">
              <div class="col">
                <div class="row">
                  <div class="col">
                    <br>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <input type="text" readonly class="form-control-plaintext"  [value]="billForPatient.ProcedureCharges.CathetorCharges.Amount * billForPatient.ProcedureCharges.CathetorCharges.Multiplier">
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col">
                      <input type="text" readonly class="form-control-plaintext"  [value]="billForPatient.ProcedureCharges.SyringePump.Amount * billForPatient.ProcedureCharges.SyringePump.Multiplier">
                  </div>
                </div>
                
                <br>
                <div class="row">
                  <div class="col">
                      <input type="text" readonly class="form-control-plaintext"  [value]="billForPatient.ProcedureCharges.CentralLine.Amount">
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col">
                      <input type="text" readonly class="form-control-plaintext"  [value]="billForPatient.ProcedureCharges.RTProcedure.Amount">
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col">
                      <input type="text" readonly class="form-control-plaintext"  [value]="billForPatient.ProcedureCharges.Dressing.Amount * billForPatient.ProcedureCharges.Dressing.Multiplier">
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col">
                    <label ><strong>{{totalProcedure}}</strong></label>
                  </div>
                </div>

              </div>
              
            </div>
            
          </td>

        </tr>

        <!-- Monitor Charges-->
        <tr>        
            <td>
              <div class="row">
                <div class="col-md-3">
                  <label for="AdmissionFeeInp">Monitor Charges:</label>
                </div>
                <div class="col-md-4">
                  <input type="number" placeholder="Amount" (focusout)="calculateBillTotal()" [(ngModel)]="billForPatient.MonitorCharges.Amount" class="form-control" name="OxygenCharges" id="OxygenChargesInp">
                </div>
                <div class="col-md-4">
                  <input type="number" placeholder="Days" (focusout)="calculateBillTotal()" [(ngModel)]="billForPatient.MonitorCharges.Multiplier" class="form-control" name="OxygenChargesNum" id="OxygenChargesNumInp">
                </div>
              </div>
            </td>
            <td><label>{{billForPatient.MonitorCharges.Amount * billForPatient.MonitorCharges.Multiplier}}</label></td>
          </tr>

        <!-- Oxygen Charges-->
        <tr>        
          <td>
            <div class="row">
              <div class="col-md-3">
                <label for="AdmissionFeeInp">Oxygen Charges:</label>
              </div>
              <div class="col-md-4">
                <input type="number" placeholder="Amount" (focusout)="calculateBillTotal()" [(ngModel)]="billForPatient.OxygenCharges.Amount" class="form-control" name="OxygenCharges" id="OxygenChargesInp">
              </div>
              <div class="col-md-4">
                <input type="number" placeholder="Days" (focusout)="calculateBillTotal()" [(ngModel)]="billForPatient.OxygenCharges.Multiplier" class="form-control" name="OxygenChargesNum" id="OxygenChargesNumInp">
              </div>
            </div>
          </td>
          <td><label>{{billForPatient.OxygenCharges.Amount * billForPatient.OxygenCharges.Multiplier}}</label></td>
        </tr>

        <!-- Nebulization Charges -->
        <tr>
          <td>
            <div class="row">
              <div class="col-md-3">
                <label for="NebulizationChargesInp">Nebulization Charges:</label>
              </div>
              <div class="col-md-4">
                <input type="number" placeholder="Amount" (focusout)="calculateBillTotal()" [(ngModel)]="billForPatient.NebulizationCharges.Amount" class="form-control" name="NebulizationCharges" id="NebulizationChargesInp">
              </div>
              <div class="col-md-4">
                <input type="number" placeholder="Days" (focusout)="calculateBillTotal()" [(ngModel)]="billForPatient.NebulizationCharges.Multiplier" class="form-control" name="NebulizationChargesNum" id="NebulizationChargesNumInp">
              </div>
            </div>
          </td>
          <td><label>{{billForPatient.NebulizationCharges.Amount * billForPatient.NebulizationCharges.Multiplier}}</label></td>
        </tr>

        <!-- Ventilator Charges -->
        <tr>
          <td>
            <div class="row">
              <div class="col-md-3">
                <label for="VentilatorChargesInp">Ventilator Charges:</label>
              </div>
              <div class="col-md-4">
                <input type="number" placeholder="Amount" (focusout)="calculateBillTotal()" [(ngModel)]="billForPatient.VentilatorCharges.Amount" class="form-control" name="VentilatorCharges" id="VentilatorChargesInp">
              </div>
              <div class="col-md-4">
                <input type="number" placeholder="Days" (focusout)="calculateBillTotal()" [(ngModel)]="billForPatient.VentilatorCharges.Multiplier" class="form-control" name="VentilatorChargesNum" id="VentilatorChargesNumInp">
              </div>
            </div>
          </td>
          <td><label>{{billForPatient.VentilatorCharges.Amount * billForPatient.VentilatorCharges.Multiplier}}</label></td>
        </tr>

        <!-- ECG Charges -->
        <tr>
          <td>
            <div class="row">
              <div class="col-md-3">
                <label for="ECGChargesInp">ECG Charges:</label>
              </div>
              <div class="col-md-4">
                <input type="number" placeholder="Amount" (focusout)="calculateBillTotal()" [(ngModel)]="billForPatient.ECGCharges.Amount" class="form-control" name="ECGCharges" id="ECGChargesInp">
              </div>
              <div class="col-md-4">
                <input type="number" placeholder="Days" (focusout)="calculateBillTotal()" [(ngModel)]="billForPatient.ECGCharges.Multiplier" class="form-control" name="ECGChargesNum" id="ECGChargesNumInp">
              </div>
            </div>
          </td>
          <td><label>{{billForPatient.ECGCharges.Amount * billForPatient.ECGCharges.Multiplier}}</label></td>
        </tr>

        <!-- BSL Charges -->
        <tr>
          <td>
            <div class="row">
              <div class="col-md-3">
                <label for="BSLChargesInp">BSL Charges:</label>
              </div>
              <div class="col-md-4">
                <input type="number" placeholder="Amount" (focusout)="calculateBillTotal()" [(ngModel)]="billForPatient.BSLCharges.Amount" class="form-control" name="BSLCharges" id="BSLChargesInp">
              </div>
              <div class="col-md-4">
                <input type="number" placeholder="Days" (focusout)="calculateBillTotal()" [(ngModel)]="billForPatient.BSLCharges.Multiplier" class="form-control" name="BSLChargesNum" id="BSLChargesNumInp">
              </div>
            </div>
          </td>
          <td><label>{{billForPatient.BSLCharges.Amount * billForPatient.BSLCharges.Multiplier}}</label></td>
        </tr>

        <!-- XRay Charges -->
        <tr>
          <td>
            <div class="row">
              <div class="col-md-3">
                <label for="XRayCharges">X-Ray Charges:</label>
              </div>
              <div class="col-md-4">
                <input type="number" placeholder="Amount" (focusout)="calculateBillTotal()" [(ngModel)]="billForPatient.XRayCharges.Amount" class="form-control" name="XRayCharges" id="XRayChargesInp">
              </div>
              <div class="col-md-4">
                <input type="number" placeholder="Days" (focusout)="calculateBillTotal()" [(ngModel)]="billForPatient.XRayCharges.Multiplier" class="form-control" name="XRayChargesNum" id="XRayChargesNumInp">
              </div>
            </div>
          </td>
          <td><label>{{billForPatient.XRayCharges.Amount * billForPatient.XRayCharges.Multiplier}}</label></td>
        </tr>

        <!-- AirBed Charges -->
        <tr>
          <td>
            <div class="row">
              <div class="col-md-3">
                <label for="AirBedChargesInp">Air Bed Charges:</label>
              </div>
              <div class="col-md-4">
                <input type="number" placeholder="Amount" (focusout)="calculateBillTotal()" [(ngModel)]="billForPatient.AirBedCharges.Amount" class="form-control" name="AirBedCharges" id="AirBedChargesInp">
              </div>
              <div class="col-md-4">
                <input type="number" placeholder="Days" (focusout)="calculateBillTotal()" [(ngModel)]="billForPatient.AirBedCharges.Multiplier" class="form-control" name="AirBedChargesNum" id="AirBedChargesNumInp">
              </div>
            </div>
          </td>
          <td><label>{{billForPatient.AirBedCharges.Amount * billForPatient.AirBedCharges.Multiplier}}</label></td>
        </tr>

        <!-- Blood Transfusion Charges -->
        <tr>
          <td>
            <div class="row">
              <div class="col-md-3">
                <label for="BloodTransfusionCharges">Blood Transfusion Charges:</label>
              </div>
              <div class="col-md-4">
                <input type="number" placeholder="Amount" (focusout)="calculateBillTotal()" [(ngModel)]="billForPatient.BloodTransfusion.Amount" class="form-control" name="BloodTransfusionCharges" id="BloodTransfusionChargesInp">
              </div>
              <div class="col-md-4">
                <input type="number" placeholder="Days" (focusout)="calculateBillTotal()" [(ngModel)]="billForPatient.BloodTransfusion.Multiplier" class="form-control" name="BloodTransfusionChargesNum" id="BloodTransfusionChargesInp">
              </div>
            </div>
          </td>
          <td><label>{{billForPatient.BloodTransfusion.Amount * billForPatient.BloodTransfusion.Multiplier}}</label></td>
        </tr>

        <!-- Platelets Charges -->
        <tr>
          <td>
            <div class="row">
              <div class="col-md-3">
                <label for="PlateletsCharges"> Platelets Charges:</label>
              </div>
              <div class="col-md-4">
                <input type="number" placeholder="Amount" (focusout)="calculateBillTotal()" [(ngModel)]="billForPatient.PlateletsCharges.Amount" class="form-control" name="PlateletsCharges" id="PlateletsChargesInp">
              </div>
              <div class="col-md-4">
                <input type="number" placeholder="Days" (focusout)="calculateBillTotal()" [(ngModel)]="billForPatient.PlateletsCharges.Multiplier" class="form-control" name="PlateletsChargesNum" id="PlateletsChargesNumInp">
              </div>
            </div>
          </td>
          <td><label>{{billForPatient.PlateletsCharges.Amount * billForPatient.PlateletsCharges.Multiplier}}</label></td>
        </tr>

        <!-- Tapping Charges -->
        <tr>
          <td>
            <div class="row">
              <div class="col-md-3">
                <label for="TappingCharges"> Tapping Charges:</label>
              </div>
              <div class="col-md-4">
                <input type="number" placeholder="Amount" (focusout)="calculateBillTotal()" [(ngModel)]="billForPatient.TappingCharges.Amount" class="form-control" name="TappingCharges" id="TappingChargesInp">
              </div>
              <div class="col-md-4">
                <input type="number" placeholder="Days" (focusout)="calculateBillTotal()" [(ngModel)]="billForPatient.TappingCharges.Multiplier" class="form-control" name="TappingChargesNum" id="TappingChargesNumInp">
              </div>
            </div>
          </td>
          <td><label>{{billForPatient.TappingCharges.Amount * billForPatient.TappingCharges.Multiplier}}</label></td>
        </tr>

        <!-- BIPAP Charges -->
        <tr>
          <td>
            <div class="row">
              <div class="col-md-3">
                <label for="BIPAPCharges"> BIPAP Charges:</label>
              </div>
              <div class="col-md-4">
                <input type="number" placeholder="Amount" (focusout)="calculateBillTotal()" [(ngModel)]="billForPatient.BIPAPCharges.Amount" class="form-control" name="BIPAPCharges" id="BIPAPChargesInp">
              </div>
              <div class="col-md-4">
                <input type="number" placeholder="Days" (focusout)="calculateBillTotal()" [(ngModel)]="billForPatient.BIPAPCharges.Multiplier" class="form-control" name="BIPAPChargesNum" id="BIPAPChargesNumInp">
              </div>
            </div>
          </td>
          <td><label>{{billForPatient.BIPAPCharges.Amount * billForPatient.BIPAPCharges.Multiplier}}</label></td>
        </tr>

        <!-- Intubation Charges -->
        <tr>
          <td>
            <div class="row">
              <div class="col-md-3">
                <label for="IntubationCharges">Intubation Charges:</label>
              </div>
              <div class="col-md-4">
                <input type="number" placeholder="Amount" (focusout)="calculateBillTotal()" [(ngModel)]="billForPatient.IntubationCharges.Amount" class="form-control" name="IntubationCharges" id="IntubationChargesInp">
              </div>
              <div class="col-md-4">
                <input type="number" placeholder="Days" (focusout)="calculateBillTotal()" [(ngModel)]="billForPatient.IntubationCharges.Multiplier" class="form-control" name="IntubationChargesNum" id="IntubationChargesInp">
              </div>
            </div>
          </td>
          <td><label>{{billForPatient.IntubationCharges.Amount * billForPatient.IntubationCharges.Multiplier}}</label></td>
        </tr>
        
        <!-- VisitingConsultantionCharges -->
        <tr>
          <td>
            <div class="row">
              <div class="col-md-3">
                <label for="VisitingConsultantionCharges">Visiting Consultantion Charges:</label>
              </div>
              <div class="col-md-4">
                <input type="number" placeholder="Doctor's Name"  readonly class="form-control-plaintext" name="VisitingConsultantionCharges" id="VisitingConsultantionChargesInp">
              </div>
              <div class="col-md-4">
                <input type="number" placeholder="Charges" class="form-control" name="VisitingConsultantionChargesNum" id="VisitingConsultantionChargesInp">
              </div>
            </div>
          </td>
          <td><label>0.00</label></td>
        </tr>

        <!-- EmergencyMedicalManagementCharges -->
        <tr>
          <td>
            <div class="row">
              <div class="col-md-3">
                <label for="EmergencyMedicalManagementCharges">Emergency Medical Management Charges:</label>
              </div>
              <div class="col-md-4">
                <input type="number" placeholder="Amount" (focusout)="calculateBillTotal()" [(ngModel)]="billForPatient.EmergencyMedicalManagementCharges.Amount" class="form-control" name="EmergencyMedicalManagementCharges" id="EmergencyMedicalManagementChargesInp">
              </div>
            </div>
          </td>
          <td><label>{{billForPatient.EmergencyMedicalManagementCharges.Amount}}</label></td>
          
        </tr>

        <!-- Discount -->
        <tr>
          <td>
            <div class="row">
              <div class="col-md-3">
                <label for="EmergencyMedicalManagementCharges">Discount:</label>
              </div>
              <div class="col-md-4">
                <input type="number" placeholder="Discount" (focusout)="calculateBillTotal()" [(ngModel)]="billForPatient.Discount" class="form-control" name="EmergencyMedicalManagementCharges" id="EmergencyMedicalManagementChargesInp">
              </div>
            </div>
          </td>
          <td><label>{{billForPatient.Discount}}</label></td>
          
        </tr>

        <!-- Bill Total Amount -->
        <tr>
          <td>
            <div class="row">
              <div class="col-md-3">
                <h5>Total For Bill : </h5>
              </div>
            </div>
          </td>
          <td><h5>{{totalBill}}</h5></td>
          
        </tr>

      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss('Close click')">Close</button>
    <button type="button" class="btn btn-outline-primary" (click)="SaveBill()"> Save</button>
  </div>
</div>

